---
import db from "@/lib/db";
import Layout from "@/layouts/Layout.astro";
import Wepay from "@/lib/wepay";
import { ObjectId } from "mongodb";
import { QRCodeSVG } from "qrcode.react";
import WePayIcon from "@/components/icons/wepay";
const { id } = Astro.params;
const order = await db.onepay.findOne({ _id: new ObjectId(id) });

export const prerender = false;
export const getStaticPaths = async () => {
    const orders = await db.onepay.find({}).toArray();
    return orders.map((order) => ({
        params: { id: order._id.toString() },
        props: { order },
    }));
};

let wepay = new Wepay(
    process.env.WEPAY_APPID,
    process.env.WEPAY_MCHID,
    process.env.WEPAY_SECRET,
);

let result;
if (order) {
    let options = {
        trade_type: "NATIVE",
        body: order.title || "onepay 支付",
        product_id: order.outTradeNo,
        out_trade_no: order.outTradeNo,
        total_fee: order.fee,
        spbill_create_ip: "127.0.0.1",
        notify_url: `${process.env.HOST}/api/${order._id}/notify`,
        // redirect_url: order.redirectUrl || "",
    };

    result = await wepay.unifiedorder(options);
    console.log(result);
}
---

<Layout>
    <div
        class="text-center p-4 m-4 border shadow-lg rounded-lg max-w-96 mx-auto"
    >
        <WePayIcon className="w-20 h-20 mx-auto" />
        <h1 class="font-mono font-bold p-2">微信扫码支付</h1>
        <h2 class="text-2xl font-bold text-red-700 p-2">{order.fee / 100}元</h2>
        <input type="hidden" id="id" value={id} />
        <div class="p-4 flex justify-center items-center">
            <div>
                {result && <QRCodeSVG value={result.code_url} size={200} />}
            </div>
        </div>

        <div class="text-xs text-gray-400 text-center">微信扫一扫</div>
    </div>
</Layout>

<script>
    const id = document.getElementById("id")?.value;
    console.log(`client ${id}`);
    window.addEventListener("load", () => {
        const check = async () => {
            const res = await fetch(`/api/${id}/check`);
            const data = await res.json();
            if (data.status) {
                window.location.href = data.redirectUrl;
            }
            setTimeout(check, 1000);
        };
        check();
    });
</script>
