---
import db from "@/lib/db";
import Layout from "@/layouts/Layout.astro";
import Wepay from "@/lib/wepay";
import { ObjectId } from "mongodb";
import { QRCodeSVG } from "qrcode.react";
const { id } = Astro.params;
const order = await db.onepay.findOne({ _id: new ObjectId(id) });

export const prerender = false;
export const getStaticPaths = async () => {
    const orders = await db.onepay.find({}).toArray();
    return orders.map((order) => ({
        params: { id: order._id.toString() },
        props: { order },
    }));
};

let wepay = new Wepay(
    process.env.WEPAY_APPID,
    process.env.WEPAY_MCHID,
    process.env.WEPAY_SECRET,
);

let result;
if (order) {
    let options = {
        trade_type: "NATIVE",
        body: "onepay 支付",
        product_id: order.outTradeNo,
        out_trade_no: order.outTradeNo,
        total_fee: order.fee,
        spbill_create_ip: "127.0.0.1",
        notify_url: `${process.env.HOST}/api/${order._id}/notify`,
        // redirect_url: order.redirectUrl || "",
    };

    result = await wepay.unifiedorder(options);
    console.log(result);
}
---

<Layout>
    <div
        class="text-center p-4 m-4 border shadow-lg rounded-lg max-w-96 mx-auto"
    >
        <svg
            t="1737082067416"
            class="icon m-4 mx-auto"
            viewBox="0 0 1024 1024"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            p-id="5907"
            width="60"
            height="60"
            ><path
                d="M292.571429 0h438.857142c161.645714 0 292.571429 130.925714 292.571429 292.571429v438.857142c0 161.645714-130.925714 292.571429-292.571429 292.571429H292.571429c-161.645714 0-292.571429-130.925714-292.571429-292.571429V292.571429C0 130.925714 130.925714 0 292.571429 0z"
                fill="#56CA3C"
                p-id="5908"></path><path
                d="M417.645714 589.531429c-2.925714 1.462857-6.582857 2.194286-10.24 2.194285-8.777143 0-16.091429-4.388571-19.748571-11.702857l-1.462857-3.657143L323.291429 438.857143c-0.731429-1.462857-0.731429-2.925714-0.731429-5.12 0-6.582857 5.12-11.702857 11.702857-11.702857 2.194286 0 5.12 0.731429 6.582857 2.194285l73.874286 52.662858c5.12 3.657143 11.702857 5.851429 19.017143 5.851428 4.388571 0 8.045714-0.731429 11.702857-2.194286l348.16-155.062857C731.428571 253.074286 628.297143 204.8 512 204.8c-190.171429 0-345.234286 128.731429-345.234286 287.451429 0 86.308571 46.811429 164.571429 119.222857 217.234285 5.851429 4.388571 9.508571 10.971429 9.508572 19.017143 0 2.194286-0.731429 5.12-1.462857 7.314286-5.851429 21.942857-15.36 56.32-15.36 57.782857-0.731429 2.925714-2.194286 5.851429-2.194286 8.045714 0 6.582857 5.12 11.702857 11.702857 11.702857 2.194286 0 4.388571-0.731429 6.582857-2.194285l75.337143-43.885715c5.851429-3.657143 11.702857-5.12 18.285714-5.12 3.657143 0 6.582857 0.731429 10.24 1.462858 35.108571 10.24 73.142857 16.091429 112.64 16.091428 190.171429 0 345.234286-128.731429 345.234286-287.451428 0-48.274286-14.628571-93.622857-39.497143-133.12L420.571429 588.068571l-2.925715 1.462858z"
                fill="#FFFFFF"
                p-id="5909"></path></svg
        >
        <h1 class="font-mono font-bold p-2">微信扫码支付</h1>
        <input type="hidden" id="id" value={id} />
        <div class="p-4 flex justify-center items-center">
            <div>
                {result && <QRCodeSVG value={result.code_url} size={200} />}
            </div>
        </div>

        <div class="text-xs text-gray-400 text-center">
            微信扫一扫 或者 截图长按识别
        </div>
    </div>
</Layout>

<script>
    const id = document.getElementById("id")?.value;
    console.log(`client ${id}`);
    window.addEventListener("load", () => {
        const check = async () => {
            const res = await fetch(`/api/${id}/check`);
            const data = await res.json();
            if (data.status) {
                window.location.href = data.redirectUrl;
            }
            setTimeout(check, 1000);
        };
        check();
    });
</script>
